.vscode
CayleyNet
checkpoint
CLARE
CommDGI
DANMF
data
DeepWalk
GAT
GCN
LGNN
NOCD
Node2vec
SLPA
SSGCAE
vGraph
OCDIB/draw.ipynb
OCDIB/process_Amazon.ipynb
OCDIB/process_DBLP.ipynb
OCDIB/process_Flickr.ipynb
OCDIB/process_Youtube.ipynb
OCDIB/visual.ipynb
OCDIB/result_69
OCDIB/result_70
OCDIB/result_71
OCDIB/result_72
OCDIB/result_73
OCDIB/result_74
OCDIB/result_76
OCDIB/result_77
OCDIB/result_78
OCDIB/result_79
OCDIB/result_84
OCDIB/visual
OCDIB/visual_new
OCDIB/OCDIB_draft.ipynb
OCDIB/OCDIB_model_draft.py
OCDIB/OCDIB_test.ipynb
OCDIB/OCDIB_model.py
OCDIB/__pycache__/OCDIB_model_draft.cpython-38.pyc
